<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>
        Storage edit
    </title>
</head>
<body>

<header th:insert="blocks::header"></header>
<!-- finder -->

<div class="container mt-5 mb-5">
    <p>edit info of product</p>
    <div th:each="element:${product}">
        <form method="post">
            <input type="text" name="title" th:value="${product.title}" placeholder="input title" class="form-control"><br>
            <input type="text" name="manufacturer" th:value="${product.manufacturer}" placeholder="input manufacturer title" class="form-control"><br>
            <button type="submit" class="btn btn-success">apply</button>
        </form>
    </div>
</div>


<!-- footer  -->
<div th:replace="blocks::footer"></div>
<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>