<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>
        Storage addition
    </title>
</head>
<body>

<header th:insert="blocks::header"></header>
<!-- finder -->

    <div class="container mt-5 mb-5">
        <p>add product</p>
        <form action="/add" method="post">
            <input type="text" name="title" placeholder="input title" class="form-control"><br>
            <input type="number" name="quantity" placeholder="input quantity" class="form-control"><br>
            <input type="date" name="releaseDate" placeholder="input release date" class="form-control"><br>
            <input type="number" name="upc" placeholder="input upc code" class="form-control"><br>
            <input type="text" name="manufacturer" placeholder="input manufacturer title" class="form-control"><br>
            <p>Employee : <input type="hidden" sec:authentication="name"></p><br>
            <div class="col-md-5">
                <label for="id_provider" class="form-label">Provider</label>
                <select id="id_provider" name="provider" class="form-select">
                    <option th:each="element:${allProviders}" th:text="${element.title}" th:value="${element.id}"/>
                </select>
            </div>
            <button type="submit" class="btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                </svg>
            </button>
        </form>
    </div>


    <!-- footer  -->
    <div th:replace="blocks::footer"></div>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>